_1_

In [1]:
import numpy as np

In [4]:
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]]).transpose()
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [6]:
mean_a = a.mean(axis=0)
print(mean_a)

[2.  8.4]

 _2_

In [17]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

_4_

In [20]:
a_centered_sp = a_centered[:,0].dot(a_centered[:,1])
print(a_centered_sp)

8.0

In [24]:
N=5
a_cov=a_centered_sp/(N-1)
print(a_cov)

2.0

_5_

In [26]:
a_cov_2 = np.cov(a.T)
print(a_cov_2)

[[1.  2. ]
 [2.  4.3]]

In [27]:
import pandas as pd

In [28]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Pushkin', 'Tolstoy', 'Dostoevsky'],
})

In [34]:
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290],
})

In [37]:
author_price = pd.merge(authors, books, on='author_id', how='right')
print(author_price)

   author_id author_name            book_title  price
0          1     Pushkin           Отцы и дети    450
1          1     Pushkin                 Рудин    300
2          1     Pushkin     Дворянское гнездо    350
3          2     Tolstoy      Толстый и тонкий    500
4          2     Tolstoy       Дама с собачкой    450
5          3  Dostoevsky                 Гроза    370
6          3  Dostoevsky  Таланты и поклонники    290

In [43]:
top_5 = author_price.nlargest(5,"price")
top_5

   author_id author_name         book_title  price
3          2     Tolstoy   Толстый и тонкий    500
0          1     Pushkin        Отцы и дети    450
4          2     Tolstoy    Дама с собачкой    450
5          3  Dostoevsky              Гроза    370
2          1     Pushkin  Дворянское гнездо    350

In [58]:
groupby = author_price.groupby("author_name")
author_stat_max=(groupby.agg({"price":"max" })).rename(columns{'price':'max_price'})
author_stat_min=groupby.agg({"price":"min" })
author_stat_mean=groupby.agg({"price":"mean" })
author_stat

SyntaxError: invalid syntax (<ipython-input-58-0ace3f3dd1e5>, line 2)